 
 
 
 .Ready-text {
   
    border: 2px solid blue; 
    background-color: blue; 
    padding: 34px;
    padding-right: 0%;
    margin: 34px;
    border-radius: 5px;
    


}
.Register-Now{
    text-align: end;


}